.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2 px solid gray;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(212, 212, 212);
}

th{
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
    background-color: rgb(83, 77, 77);
}

td{
    border:1px solid grey;
    padding: 10px;
    
}

h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: grey;
}