body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, red, orange, white);
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
}

header{
    text-align: center;
}
.active{
    background-color: rgb(230, 21, 21);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li{
    float: left;
}

li a{
    font-display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: rgb(63, 61, 61);
}

h1{
    background-color: black;
    padding: 10px;
    margin: 0;
    color: rgb(230, 21, 21);
}

footer{
    background-color: gray ;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}